.icons { background-image: url(sprite.png);background-size: 396px 352px;}
.icon-icon_airplane { width: 60px; height: 60px; background-position: -176px 0px; }
.icon-icon_jiudian { width: 60px; height: 60px; background-position: -176px -68px; }
.icon-icon_line { width: 60px; height: 60px; background-position: 0px -176px; }
.icon-icon_lyfw { width: 80px; height: 80px; background-position: 0px 0px; }
.icon-icon_menpiao { width: 60px; height: 60px; background-position: -68px -176px; }
.icon-icon_shezhi { width: 36px; height: 35px; background-position: -360px -132px; }
.icon-icon_techan { width: 60px; height: 60px; background-position: -136px -176px; }
.icon-icon_train { width: 60px; height: 60px; background-position: -244px 0px; }
.icon-icon_xianlu { width: 60px; height: 60px; background-position: -244px -68px; }
.icon-icon_xiaoxi_black { width: 36px; height: 36px; background-position: -288px -312px; }
.icon-icon_xiaoxi { width: 36px; height: 36px; background-position: -360px 0px; }
.icon-icon_yanyi { width: 60px; height: 60px; background-position: -244px -136px; }
.icon-icon_yjbj { width: 80px; height: 80px; background-position: -88px 0px; }
.icon-icon_yjts { width: 80px; height: 80px; background-position: 0px -88px; }
.icon-icon_yljz { width: 80px; height: 80px; background-position: -88px -88px; }
.icon-icon_zixun { width: 60px; height: 60px; background-position: 0px -244px; }
.icon-lab_fujin_normal { width: 40px; height: 40px; background-position: -312px 0px; }
.icon-lab_fujin { width: 40px; height: 40px; background-position: -312px -48px; }
.icon-lab_fuwu_normal { width: 40px; height: 40px; background-position: -312px -96px; }
.icon-lab_fuwu { width: 40px; height: 40px; background-position: -312px -144px; }
.icon-lab_home_normal { width: 40px; height: 40px; background-position: -312px -192px; }
.icon-lab_home { width: 40px; height: 40px; background-position: -312px -240px; }
.icon-lab_service_normal { width: 40px; height: 40px; background-position: 0px -312px; }
.icon-lab_service { width: 40px; height: 40px; background-position: -48px -312px; }
.icon-lab_tehui_normal { width: 40px; height: 40px; background-position: -96px -312px; }
.icon-lab_tehui { width: 40px; height: 40px; background-position: -144px -312px; }
.icon-lab_wode_normal { width: 40px; height: 40px; background-position: -192px -312px; }
.icon-lab_wode { width: 40px; height: 40px; background-position: -240px -312px; }
.icon-map { width: 36px; height: 36px; background-position: -360px -44px; }
.icon-message { width: 36px; height: 36px; background-position: -360px -88px; }
.icon-news { width: 99px; height: 25px; background-position: -68px -244px; }
.icon-refresh { width: 32px; height: 32px; background-position: -360px -175px; }