@import "http://at.alicdn.com/t/font_1219102_v0vb36xspie.css";

/*svg.icon {*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*vertical-align: bottom;*/
    /*fill: currentColor;*/
    /*overflow: hidden;*/
/*}*/
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
